.button {
    padding: 10px 22px;
    background: var(--blue);
    border-radius: 999px;
    color: #fff;
    font-size: 14px;

    &.button__wrapper {
        padding: 0;
        background: transparent;
        border-radius: 0;
    }
}