.button {
    padding: 10px 30px;
    background: linear-gradient(180deg, var(--blue) 0%, var(--blue-deep) 100%);
    border-radius: 10px;
    font-size: 14px;

    &.button__wrapper {
        padding: 0;
        background: transparent;
        border-radius: 0;
    }
}